<div class="container">
  <h2 class="jumbotron bg-dark mt-5 text-light text-center"> Puéricultrice </h2>
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Login</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listPaednurse">
        <td>{{ item.name }}</td>
        <td>{{ item.login }}</td>
        <td><a class="btn btn-primary" (click)="updateChambre(item.id)" routerLink="update/{{item.id}}">Modifier</a></td>
        <td><a class="btn btn-danger "(click)="deleteChambre(item.id)" routerLink="delete/{{item.id}}">Supprimer</a></td>
      </tr>
    </tbody>
  </table>
</div>
