<nav class="navbar navbar-expand-lg navbar-light bg-secondary ">
  <a class="navbar-brand text-light" routerLink="">Nursery Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav" *ngFor="let item of listNavItem">
      <li class="nav-item">
        <a class="nav-link text-light" routerLink="{{ item.link }}">{{ item.name }}</a>
      </li>
    </ul>
    <span class="nav-link text-warning">{{paednurse}}</span>
  </div>
</nav>
